# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/

# Virtual environments
.venv/

# ML artifacts
mlruns/
*.joblib
*.nbconvert.ipynb

#environment variables
.env
*/.env

# Internal docs (not for submission)
SCAFFOLD.md
plan.md
GUIDELINES.md

# Project brief (not for submission)
project-brief/